<div class="container">
  <h2>Menu Items</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of menuItems;let i = index">
        <td>{{ item.name }}</td>
        <td>{{ item.price | currency }}</td>
        <td>{{item.description}}</td>
        <td>{{ item.category }}</td>
        <td style="display:flex">
          <button class="btn btn-warning me-2" (click)="onEditClick(item.id)">Edit</button>
          <button class="btn btn-danger" (click)="deleteItem(item.id!)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="isLoading" class="d-flex justify-content-center">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>